# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Firebase
GoogleService-Info.plist

# Swift Package Manager
.build/
.swiftpm/
SourcePackages/

# CocoaPods
Pods/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Claude
.claude/

# Secrets
*.pem
*.p8
Secrets.swift
